.contacts-section    {

    & .contacts-title   {
        padding-block: 8rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        & h2  {
            font: var(--subtitle);
            color: var(--purple);
        }

        & h3    {
            font: var(--title-md);
            color: var(--gray-600);
        }

        & p {
            font: var(--text-md);
            color: var(--gray-500);
        }
    }

    & .contacts-info    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12.5rem;
        gap: 1rem;
        

        & .info-item    {
            width: 25rem;
            padding: 1.4375rem 1.25rem;
            background-color: var(--gray-300);
            display: flex;
            align-items: center;
            justify-content: space-between;


            & .social   {
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }

            & p {
                font: var(--text-md);
                color: var(--gray-500);
            }
        }
    }
}