.hero-section   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 7.5rem;
}

.hero-title   {
    padding-top: 3.5rem;

    & h2    {
        font: var(--subtitle);
        color: var(--gray-500);
        padding-bottom: .5rem;

        & strong    {
            font: inherit;
            color: var(--red);
        }
    }

    & h1    {
        font: var(--title-lg);
        color: var(--gray-600);
        padding-bottom: 1.25rem; 
    }

    & p     {
        font: var(--text-sm);
        color: var(--gray-400);
    }
}

.hero-tecs  {
    display: flex;
    padding-top: 5rem;
    gap: 1rem;

    & .tecs-item    {
        background-color: var(--gray-300);
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        font: var(--text-md);
        color: var(--gray-500);
        border-radius: 2rem;
    }
}

.arrow-down {
    margin-block: 5.875rem 3.625rem;
}