.works-section {
    & .works-title  {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        padding-block: 4.5rem 3.5rem;

        & h2    {
            font: var(--subtitle);
            color: var(--red);
        }

        & h3    {
            font: var(--title-md);
            color: var(--gray-600);
        }
    }
}

.projects-section   {
    display: grid;
    grid-template-areas: 
    "A B C"
    "D E F";
    gap: 1.5rem;
    padding-bottom: 9rem;

    & .projects-item    {
        background-color: var(--gray-300);
        max-width: 20.625rem;
        display: flex;
        flex-direction: column;
        border-radius: 0.75rem;

        & img   {
            margin: 0.75rem 0.75rem 1.25rem;
            max-width: 19.125rem;
            height: 9.75rem;
            border-radius: 0.5rem;
        }

        & .projects-item--description   {
            margin: 0 0.75rem 1.065rem;

            & h3    {
                font: var(--title-sm);
                color: var(--gray-600);
                margin-bottom: 0.475rem;
            }

            & p {
                font: var(--text-sm);
                color: var(--gray-500);
            }
        }
    }
}